
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<h2>@ViewBag.var1</h2>
<br />
<h2>@ViewBag.var2</h2>

@{
    <h2>Array list with viewBag</h2>
    foreach (var item in ViewBag.var3)
    {
        <h3>@item</h3>
    }
}


@{
    <h2>List with viewBag</h2>
    foreach (var item in ViewBag.var4)
    {
        <h3>@item</h3>
    }
}

@{
    <h1>It is property data </h1>
    var itm = ViewBag.var5;
    <h4>@itm.name</h4>
    <h4>@itm.designation</h4>
    <h4>@itm.city</h4>

}
